.BadgesList ul>li {
   margin-bottom: 1rem;
 }
 
 .BadgesListItem {
   background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
 }
 
 .BadgesListItem__avatar {
   border-radius: 50%;
   background: #a3a3a3;
   margin-right: 0.5rem;
   width: 80px;
   height: 80px;
 }

 .Twitter__name {
   color: #1da1f2;
   
 }
 .Twitter__logo {
   display: inline-block;
   width: 1.5rem;
   height: 1.5rem;
   /* background: url('../../images/Twitter_Social_Icon_Circle_Color.svg'); */
   margin-right: 0.3rem;
   vertical-align: middle;
 }

 .list-unstyled {
  display: flex;
  flex-direction: column-reverse;
 }