.DeleteBadgeModal {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
   min-height: 10rem;
 }
 
 .DeleteBadgeModal button+button {
   margin-left: 1rem;
 }